* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: unset;
}
.kanbanTitle {
  padding: 20px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 700;

  line-height: 60px;
}
.kanbanTitle a {
  color: white;
  font-size: 50px;
}
.title {
  display: flex;
  justify-content: space-between;
}

.board {
  width: 90%;
  margin: 0 auto;
  background-color: black;
  color: white;
}
.list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.list div {
  margin: 10px;
}
.list .card {
  margin: 0 auto;
}
.section {
  overflow-y: scroll;
  text-align: left;
  height: min-content;
  max-height: 696px;
  width: max-content;
  background-color: #262626;
  color: white;
  border-radius: 16px;
  padding: 24px;
}
.section .card {
  margin-bottom: 13px;
}

.card {
  width: 320px;
  height: auto;
  background-color: #6a6dcd;
  color: white;
  border-radius: 8px;
  padding: 24px;
  gap: 8px;
}
.heading {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContent {
  font-family: "SF Pro Text", sans-serif;
  width: 100%;
  height: auto;
}

/* responsive */

@media (min-width: 320px) {
  .kanbanTitle {
    font-size: medium;
  }
  .main {
    font-size: small;
    font-family: "SF Pro Display", sans-serif;
    background-color: black;
    width: 100%;
    height: max-content;
    text-align: center;
    display: list-item;
  }
  .list {
    font-size: small;
    height: auto;
    display: list-item;
    width: max-content;
    margin: 0 auto;
  }
  .board {
    width: min-content;
    min-height: 100vh;
    height: max-content;
  }
  .section {
    font-size: small;
    overflow: auto;
    text-align: left;
    height: 100vh;
    background-color: #262626;
    color: white;
    border-radius: 16px;
  }
  .card {
    width: min-content;
    height: max-content;
    background-color: #6a6dcd;
    color: white;
    border-radius: 8px;
    padding: 24px;
    gap: 8px;
  }
}
@media (min-width: 820px) {
  .main {
    font-family: "SF Pro Display", sans-serif;
    background-color: black;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: list-item;
  }
  .list {
    display: grid;
    grid-template-columns: auto auto;
    height: max-content;
    width: max-content;
    margin: 0 auto;
  }
  .section {
    overflow: auto;
    text-align: left;
    height: max-content;
    width: max-content;
    background-color: #262626;
    color: white;
    border-radius: 16px;
  }
}
@media (min-width: 1024px) {
  .board {
    height: 125vh;
    max-height: max-content;
  }
  .main {
    font-family: "SF Pro Display", sans-serif;
    background-color: black;
    width: max-content;
    height: 100vh;
    text-align: center;
    display: flex;
  }
  .list {
    width: max-content;
    height: 696px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .section {
    overflow: auto;
    text-align: left;
    height: min-content;
    max-height: 696px;
    width: max-content;
    background-color: #262626;
    color: white;
    border-radius: 16px;
    padding: 24px;
  }
}
@media (min-width: 1440px) {
  .main {
    font-family: "SF Pro Display", sans-serif;
    background-color: black;
    width: 100%;
    height: min-content;
    text-align: center;
    display: flex;
  }
  .list {
    width: max-content;
    height: 696px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .section {
    overflow: auto;
    text-align: left;
    height: min-content;
    max-height: 696px;
    width: max-content;
    background-color: #262626;
    color: white;
    border-radius: 16px;
    padding: 24px;
  }
  .card {
    font-size: xx-large;
  }
}
@media (min-width: 2560px) {
  .board {
    height: auto;
  }
  .main {
    font-family: "SF Pro Display", sans-serif;
    background-color: black;
    width: 100%;
    height: min-content;
    text-align: center;
    display: flex;
  }
  .list {
    width: 100%;
    height: 696px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .section {
    overflow: auto;
    text-align: left;
    height: min-content;
    max-height: 696px;
    width: max-content;
    background-color: #262626;
    color: white;
    border-radius: 16px;
    padding: 24px;
  }
  .card {
    font-size: x-large;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}
